PROJECT_NAME=CyValidator
ENVIRONMENT=development

POSTGRES_USER=cyvalidator
POSTGRES_PASSWORD=cyvalidator
POSTGRES_DB=cyvalidator

API_GATEWAY_PORT=8080
FRONTEND_PORT=3000

JWT_SECRET=change_me_in_production